[submodule "vim/bundle/bad-whitespace"]
	path = vim/bundle/bad-whitespace
	url = https://github.com/bitc/vim-bad-whitespace.git
[submodule "vim/bundle/editorconfig"]
	path = vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/gnupg"]
	path = vim/bundle/gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "vim/bundle/json"]
	path = vim/bundle/json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = https://github.com/redzebra/vim-puppet.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/rbenv"]
	path = vim/bundle/rbenv
	url = git://github.com/tpope/vim-rbenv.git
